.App {
  text-align: center;
}
._login_section {
  height: 100vh;
  display: flex;
  align-items: center;
}
.navbar {
  background: #6f81ff;
}
.navbar a {
  color: #fff;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
  color: #fff !important;
}
._dashboard_wrapper {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
._The_sidebar {
  padding: 15px;
  width: 300px;
  background: #6f81ff;
  color: #fff;
}
._The_sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  text-align: left;
}
._The_sidebar ul li {
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  cursor: pointer;
}
._The_sidebar ul li a {
  color: #fff;
  text-decoration: none;
}
._The_content {
  flex-grow: 1;
}
